# Python `pip` dependencies for j1-nbinteract v1.0.7
# ------------------------------------------------------------------------------

# Unchanged modules/ranges
#
ipython>=6, <8
ipywidgets>=7.5.0, <8
toolz>=0.8, <1
docopt>=0.6.2, <1
numpy>=1, <2

# More recent versions required by e.g. nbclient
#
# nbformat>=4.4.0, <5, traitlets>=4.3, <5
nbformat>=5.0
traitlets>=5.0

# Recent version of `bqplot` for Jupyter `Notebook v7` (JupyterLab)
# NOTE: currently NOT supported for j1-nbinteract v1.x
#
# bqplot>=0.12

# Pinned version of `bqplot` for Jupyter `Notebook v6` (Classic Notebook)
#
bqplot==0.11.9

# Upgraded/Pinned to `Jinja2` latest that support func `contextfilter`
#
jinja2==3.0

# Set new range for `nbconvert`
#
nbconvert>=5.6, <7

# Pinned `markupsafe` latest that support func `soft_unicode`
#
markupsafe==2.0.1
